# ESTE ARCHIVO ES UNA COPIA DEL .env ORIGINAL. 
# PARA CONFIGURAR EL PROYECTO, DEBES CREAR UN ARCHIVO .env EN LA CARPETA 
# DE backend Y COPIAR EL CONTENIDO DE ESTE ARCHIVO EN EL NUEVO .env, LUEGO 
# MODIFICAR LOS VALORES SEGÚN SEA NECESARIO.

# Puerto en donde se ejecutará el servidor Express
EXPRESS_PORT=8888