# ESTE ARCHIVO ES UNA COPIA DEL .env ORIGINAL. 
# PARA CONFIGURAR EL PROYECTO, DEBES CREAR UN ARCHIVO .env EN LA CARPETA 
# DE backend Y COPIAR EL CONTENIDO DE ESTE ARCHIVO EN EL NUEVO .env, LUEGO 
# MODIFICAR LOS VALORES SEGÚN SEA NECESARIO.

# URL del frontend para configurar
FRONTEND_URL=http://localhost:4200/baccus-gym

# Puerto en donde se ejecutará el servidor Express
PORT=8888

# Credenciales de la base de datos PostgreSQL
POSTGRES_USER=admin_baccus_gym
POSTGRES_PASSWORD=247n56f9230n752v82367nvb80927fhj56209
DB_HOST=localhost
DB_PORT=5432
POSTGRES_DB=baccus_gym_db

# Credenciales de JWT
JWT_SECRET=fhurdiopewqytru9784310yqphry34078912yh

# Creedenciales de correo electrónico
EMAIL_USER=
EMAIL_PASS=
EMAIL_SERVICE=gmail