<div class="forgot-password-page">
  <div class="background-container">
    <div class="card-forgot">
      <h2>Nueva contraseña</h2>
      <p class="instruction-text">
        Introduzca una nueva contraseña para su cuenta. Asegúrese de que sea segura y fácil de
        recordar.
      </p>

      @if (errorMessage) {
        <div class="alert-error">
          {{ errorMessage }}
        </div>
      }

      <form class="forgot-form" [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="password">Nueva contraseña</label>
          <div class="password-wrapper">
            <input
              [type]="showPasswordOg ? 'text' : 'password'"
              placeholder="Introduzca su nueva contraseña"
              formControlName="password"
              [class.input-error]="
                resetPassForm.get('password')?.invalid && resetPassForm.get('password')?.touched
              "
            />
            <button type="button" class="toggle-btn" (click)="showPasswordOg = !showPasswordOg">
              <span>{{ showPasswordOg ? '🙈' : '👁️' }}</span>
            </button>
          </div>

          @if (resetPassForm.get('password')?.invalid && resetPassForm.get('password')?.touched) {
            <small class="error-text">
              @if (resetPassForm.get('password')?.errors?.['required']) {
                La contraseña es obligatoria.
              } @else if (resetPassForm.get('password')?.errors?.['minlength']) {
                Debe tener al menos 6 caracteres.
              }
            </small>
          }
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirmar contraseña</label>
          <div class="password-wrapper">
            <input
              [type]="showPasswordConf ? 'text' : 'password'"
              placeholder="Confirme su nueva contraseña"
              formControlName="confirmPassword"
            />
            <button type="button" class="toggle-btn" (click)="showPasswordConf = !showPasswordConf">
              <span>{{ showPasswordConf ? '🙈' : '👁️' }}</span>
            </button>
          </div>
          @if (resetPassForm.get('confirmPassword')?.touched) {
            <small class="error-text">
              @if (resetPassForm.get('confirmPassword')?.errors?.['required']) {
                La confirmación de contraseña es obligatoria.
              } @else if (resetPassForm.errors?.['passwordsNotMatch']) {
                Las contraseñas no coinciden.
              }
            </small>
          }
        </div>

        <button type="submit" class="btn-enviar">ENVIAR</button>
      </form>
    </div>
  </div>
</div>
