<div class="forgot-password-page">
  <div class="background-container">
    <div class="card-forgot">
      <h2>Recuperar contraseña</h2>
      <p class="instruction-text">
        Introduzca el email de tu cuenta. Le enviaremos un correo con un enlace para recuperar la
        contraseña
      </p>

      @if (errorMessage) {
        <div class="alert-error">
          {{ errorMessage }}
        </div>
      }

      @if (message) {
        <div class="alert-success">
          {{ message }}
        </div>
      }

      <form class="forgot-form" [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Correo electrónico</label>
          <input
            type="email"
            placeholder="ejemplo@email.com"
            formControlName="email"
            [class.input-error]="
              recoverForm.get('email')?.invalid && recoverForm.get('email')?.touched
            "
          />
          @if (recoverForm.get('email')?.invalid && recoverForm.get('email')?.touched) {
            <small class="error-text">
              @if (recoverForm.get('email')?.errors?.['required']) {
                El email es obligatorio.
              } @else if (recoverForm.get('email')?.errors?.['email']) {
                Formato de email no válido.
              }
            </small>
          }
        </div>

        @if (loading) {
          <button type="submit" class="btn-enviar" disabled>ENVIANDO</button>
        } @else {
          <button type="submit" class="btn-enviar">ENVIAR</button>
        }
      </form>
    </div>
  </div>
</div>
